{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "eslint-config-prettier",
    "plugin:@typescript-eslint/recommended",
    "plugin:tailwindcss/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint", "tailwindcss"],
  "rules": {
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "prettier/prettier": "off",
    "react/jsx-wrap-multilines": [
      "error",
      {
        "declaration": false,
        "assignment": false,
        "return": "parens",
        "arrow": "parens",
        "condition": "parens",
        "logical": "parens",
        "prop": false
      }
    ],
    // disable classnames order for tailwindcss eslint
    "tailwindcss/classnames-order": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "tailwindcss": {
      "config": "./tailwind.config.cjs"
    }
  }
}
